$primary-color: #000;
$bg-color: #f4f4f4;

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
    font-size: 16px;
    line-height: 1.6;
    min-width: 320px;
}

